In [2]:
import pandas as pd

In [ ]:
'eastern_africa', 'middle_africa', 'northern_africa', 'southern_africa', 'western_africa', 'northern_america', 'central_america', 'caribbean', 'south_america', 'central_asia', 'eastern_asia', 'southern_asia', 'south_eastern_asia', 'western_asia', 'eastern_europe', 'northern_europe', 'southern_europe', 'western_europe', 'australia_new_zealand', 'melanesia', 'micronesia', 'polynesia'

In [119]:
list_zone = ['eastern_africa', 'middle_africa', 'northern_africa', 'southern_africa', 'western_africa', 
             'northern_america', 'central_america', 'caribbean', 'south_america', 'central_asia', 'eastern_asia', 
             'southern_asia', 'south_eastern_asia', 'western_asia', 'eastern_europe', 'northern_europe', 
             'southern_europe', 'western_europe', 'australia_new_zealand', 'melanesia', 'micronesia', 'polynesia']

def cleaning_csv(arg=list_zone[0]):
    cleaned_df = pd.read_csv("geo_zone/"+arg+".csv")
    cleaned_df = cleaned_df.rename(columns=lambda x: x.strip().replace(' ', '_').lower())
    cleaned_df = cleaned_df.rename(columns={'area_code_(m49)': 'area_code_(fao)'})
    cleaned_df = cleaned_df.drop(["domain_code","domain","element_code","element","item_code_(cpc)","item","year_code","year","unit","value","flag","flag_description"],axis=1)
    return cleaned_df

In [120]:
df_est_afr = cleaning_csv('eastern_africa')
df_est_afr

    area_code_(fao)                         area
0               108                      Burundi
1               174                      Comoros
2               262                     Djibouti
3               231                     Ethiopia
4               404                        Kenya
5               450                   Madagascar
6               454                       Malawi
7               480                    Mauritius
8               508                   Mozambique
9               646                       Rwanda
10              690                   Seychelles
11              728                  South Sudan
12              800                       Uganda
13              834  United Republic of Tanzania
14              894                       Zambia
15              716                     Zimbabwe